<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Mi E-commerce</title>
    <style>
      body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      padding: 0;
      margin: 0;
    }

    header {
      background-color: #0066cc;
      color: white;
      padding: 15px;
      text-align: center;
    }

    nav {
      background-color: #ddd;
      padding: 10px;
      text-align: center;
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    main {
      padding: 40px;
      text-align: center;
    }

    footer {
      background-color: #eee;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    </style>
  </head>
  <body>
    <header>
      <h1>Proyecto E-Commerce</h1>
    </header>

    <nav>
      <a href="/">Inicio</a>
      <a href="/products">Productos</a>
      <a href="/cart">Carritos</a>
      <a href="/sessions/register">Registrarse</a>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer>
      &copy;Todos los derechos están reservados por mi :D stiven
    </footer>
  </body>
</html>
